@media screen and (min-width: 800px) {
	header {
		display: flex;
		margin: 0;
		padding: 0;
	}
	h1 {
		float: right;
		visibility: none;
	}
	.icons {
		display: flex;
		align-items: center;
		visibility: visible;
		float: right;
		margin-left: 10%;
	}
	.icons a{
		color: var(--blue);
		font-family: 'Bebas Neue', 'Inter';
		padding: 5px;
		font-size: larger;
	}
	.icons a:hover {
		color: var(--orange);
	}
	#research-interest {
		display: flex;
	}
	#research-interest img {
		width: 550px;
		float: right;
	}
	#research-interest p{
		float: left;
		margin-right: 10px;
	}
}