html {
	font-family: Helvetica, sans-serif;
	font-weight: 500;
}
img {
	width: 300px;
}
a, a:visited, a:hover{
	text-decoration: none;
	color: magenta;
}
.view {
	float: right;
}
#right {
	margin-left: 10px;
}
@media only screen and (max-width: 600px) {
	.flex-box {
		display: flex;
		justify-content: center;
	}
	img {
		width: 100%;
	}
}