@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

:root {
	--background: #141420;
	--text: #fefeff;
	--link: #d5fe17;
	--link-hover: #7c56e5;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
html {
	font-weight: 300;
    font-family: 'Overpass Mono';
	text-transform: uppercase;
	background-color: var(--background);
	color: var(--text);
}
body {
    flex: 1;
    display: flex;
    flex-direction: column;
	padding: 0px 20px;
}
main {
    flex: 1;
}
header {
	display: flex;
	justify-content: center;
	align-items: center;
}
h1 {
	text-transform: lowercase;
    font-family: 'Cirka';
	font-size: 100px;

	justify-content: center;
	align-items: center;

	font-weight: 300;
}
img {
	width: 100px;
}
a, a:visited{
	text-decoration: none;
	color: var(--link);
}
a:hover {
	text-decoration: none;
	color: var(--link-hover);
}
@media only screen and (max-width: 600px) {
	.flex-box {
		display: flex;
		justify-content: center;
	}
	img {
		max-width: 100px;
	}
}
footer {
	font-weight: bold;
	font-family: 'Gilroy';
    text-transform: lowercase;
    margin-top: auto;
	margin-bottom: 10px;
}