:root {
	--background: white;
	--text: black;
	--link: orange;
}
html {
	font-weight: 400;
    font-family: 'Creato Display';

	background-color: var(--background);

	color: var(--text);
}
h1 {
	font-size: 3em;
}
img {
	width: 100px;
}
p,ul,ol,li, footer {
	font-size: 2em;
}
a, a:visited{
	text-decoration: none;
	color: var(--link);
}
a:hover {
	text-decoration: none;
	color: var(--text);
}
img{
	/* outline: auto; */
	max-width: 300px;
}
.view {
	float: right;
}
#right {
	margin-left: 10px;
}
@media only screen and (max-width: 600px) {
	.flex-box {
		display: flex;
		justify-content: center;
	}
	img {
		max-width: 100px;
	}
}