/* Define font-face for Creato Display Black */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

/* Define font-face for Creato Display Black Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Define font-face for Creato Display Bold */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* Define font-face for Creato Display Bold Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* Define font-face for Creato Display Extra Bold */
@font-face {
    font-family: 'Creato Display';
    src: url('/./CreatoDisplay-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

/* Define font-face for Creato Display Extra Bold Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

/* Define font-face for Creato Display Light */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* Define font-face for Creato Display Light Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

/* Define font-face for Creato Display Medium */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* Define font-face for Creato Display Medium Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

/* Define font-face for Creato Display Regular */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* Define font-face for Creato Display Regular Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* Define font-face for Creato Display Thin */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

/* Define font-face for Creato Display Thin Italic */
@font-face {
    font-family: 'Creato Display';
    src: url('./CreatoDisplay-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

/* font-family: 'Creato Display', sans-serif; */